.DS_Store/
.DS_Store
.idea/
.history/
node_modules/
ServiceWrapper/
/GPUCache
C#/
ServiceGrid/
old_code/
*.ini
*.7z
*.mp4
*.tar.xz
*.zip
Data/
**/__pycache__/
**/.venv/
ExecuteStage/user_data_test
ExecuteStage/user_data_20000
ExecuteStage/user_data_30001